<template name="login">
    <ul class='nav navbar-nav navbar-right'>
        <li id="login-dropdown-list" class="dropdown">
            {{#if loggedIn}}
                <a class="dropdown-toggle" data-toggle="dropdown">{{currentUser.username}}</a>
                <div class="dropdown-menu">
                    <a href="/People/{{currentUser.username}}/edit">
                        <button class="btn btn-primary col-sm-12" id="edit-profile">Edit Profile</button>
                    </a>
                    <a href="/People/edit">
                        <button class="btn btn-primary col-sm-12">Edit Delta Lab Members</button>
                    </a>
                    <a href="/change_password">
                        <button class="btn btn-primary col-sm-12" id="change-password-button">Change Password</button>
                    </a>
                    <button class="btn btn-primary col-sm-12" id="logout-button">Log out</button>
                </div>
            {{else}}
              <a href="/login">Log in</a>
            {{/if}}
        </li>
    </ul>
</template>
