<template name="LoginPage">
  <div class="dtr-content container" id="login-page">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 padding-0">
      <img src="images/icon.png" alt="">
      <h1 class="text-center">Welcome back!</h1>
      <form>
        <h4>Username</h4>
        <input id="login-username" type="text" placeholder="Enter your username" class="form-control" />
        <h4>Password</h4>
        <input id="login-password" type="password" placeholder="Enter your password" class="form-control" />
        <a id="forgot-password" href="/forgot-password">Forgot Password?</a>

        <button class="btn btn-primary btn-block" id="login-buttons-password" type="submit">Sign in</button>
    <button class="btn btn-block" id="visitor-button" type="button">View as visitor</button>

      </form>

      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Oops! Try again
      </div>
    </div>
  </div>

</template>
