<template name="HowWeWork">
    <div class="dtr-content container" id="work">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                <div id="carousel-work" class="carousel slide" data-ride="carousel" data-interval="10000">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="https://delta-lab.nyc3.cdn.digitaloceanspaces.com/delta-lab/delta-web/static/how-we-work/pair-research.png" alt="Pair Research">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                <h2>Work. Play. Design. Learn.</h2>
                <div class="col-lg-12 col-md-12 padding-0">
                    <p>
                        The Delta Lab is an interdisciplinary, supportive, collaborative community of researchers focused on solving critical problems in the world through research. We come from a variety of disciplines -- human-computer interaction, learning sciences, design, computer science, psychology, and organizational behavior -- to publish design-based research in our respective fields. Our supportive community enables students to gain experience leading projects and publishing as first authors in top-tier venues. Through this experience, students become  self-directed designers, researchers, and mentors who are well-positioned to become leading experts in their respective fields.
                    </p>
                </div>

                <h3>We are an interdisciplinary community working on solving hard problems.</h3>
                <div class="col-lg-8 col-md-8 padding-left-0">
                    <p>
                        <b>Interdisciplinary Problem Solving</b>
                        <br>
                        We work on solving tough real-world problems by conducting interdisciplinary research using methods and theories from human computer interaction, learning sciences, computer science, psychology, organizational behavior, and design.
                        <br><br>

                        <b>University-Wide Collaborations</b>
                        <br>
                        We collaborate with one another as well as students and faculty from across the university (e.g., psychology, communications, mechanical engineering).
                        <br><br>

                        <b>Publishing in Top-Tier Journals and Conferences</b>
                        <br>
                        We publish papers that make substantial contributions to a variety of academic disciplines and practical problems.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 padding-right-0">
                    <p>
                      <img src="https://delta-lab.nyc3.cdn.digitaloceanspaces.com/delta-lab/delta-web/static/how-we-work/problem-solving.png" alt="Problem Solving">
                    </p>
                </div>

                <h3>We train students to be self-directed designers, researchers, and mentors.</h3>
                <div class="col-lg-4 col-md-4 padding-left-0">
                    <p>
                      <img src="https://delta-lab.nyc3.cdn.digitaloceanspaces.com/delta-lab/delta-web/static/how-we-work/training.png" alt="Training">
                    </p>
                </div>
                <div class="col-lg-8 col-md-8 padding-right-0">
                    <p>
                        <b>Goal Setting</b>
                        <br>
                        We set goals at the beginning of each quarter to hold each other accountable. We also do regular sprint planning -- identifying tasks to accomplish goals and planning how to complete within sprint constraints.
                        <br><br>

                        <b>Methodologies & Modeling</b>
                        <br>
                        We teach conceptual models of research and rigorous methodologies to help strengthen our expertise (e.g., design arguments, research canvases, synthesis trees, causal models). We help students develop theories of change that drive their research agenda.
                        <br><br>

                        <b>Reflection & Growth</b>
                        <br>
                        We conduct regular self-assessments and follow-up meetings, emphasizing on not only project growth but personal growth.
                    </p>
                </div>

                <h3>We are a supportive, collaborative, and playful community.</h3>
                <div class="col-lg-8 col-md-8 padding-left-0">
                    <p>
                        <b>Help and Collaboration</b>
                        <br>
                        We provide coordinated opportunities, such as <a href="http://pairresearch.io" target="_blank">Pair Research</a> to exchange work with other students and faculty to get help on work. Students receive regular feedback and help from interdisciplinary faculty and students. The lab community is large (30+ people) and students never feel alone.
                        <br><br>

                        <b>Lab Meetings</b>
                        <br>
                        We meet twice a week as a lab, providing students opportunities to share their research and get feedback from the lab community. At our meetings we share our “likes” and learn more about one another.
                        <br><br>

                        <b>Supportive, Colorful Working Spaces</b>
                        <br>
                        Our lab has three group working spaces to support different types of meetings and work: (1) one lively office, (2) one group meeting space, (3) one quiet workspace. Students can select where to work each day and are given a desk of their own, as well. We are known to have one of the most comfortable physical spaces for collaboration and working of all the labs here!
                        <br><br>

                        <b>Community Gatherings</b>
                        <br>
                        Every quarter, we host community potluck dinners at faculty homes. The potlucks carve out time for us to genuinely support and get to know one another. We also gather together on campus for communal coffee and lunch breaks, because we like spending time together!
                        <br>
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 padding-right-0">
                    <p>
                      <img src="https://delta-lab.nyc3.cdn.digitaloceanspaces.com/delta-lab/delta-web/static/how-we-work/community.png" alt="Community">
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>
